:root {
  --white: #fff;
  --white_50: rgba(255, 255, 255, 0.5);
  --pink: rgba(217, 156, 184, 1);
  --hotPink: rgba(187, 0, 105, 1);
  --darkPink: rgb(134, 0, 76);
  --hotPink_50: rgba(187, 0, 105, 0.5);
  --hotPink_75: rgba(187, 0, 105, 0.75);
  --teal: rgba(4, 191, 173, 1);
  --teal_75: rgba(4, 191, 173, 0.75);
  --teal_50: rgba(4, 191, 173, 0.5);
  --darkTeal: rgba(27, 123, 114, 1);
  --darkerTeal: rgba(16, 77, 70, 1);
  --darkTeal_95: rgba(27, 123, 114, 0.95);
  --gold: rgba(242, 171, 39, 1);
  --peach: rgba(242, 102, 102, 1);
  --grey: rgba(62, 68, 75, 1);
  --darkGrey: rgba(26, 36, 35, 1);
  --darkGrey_25: rgba(26, 36, 35, 0.25);
}
